.red {
  background-color: #d9534f;
  color: #d9534f;
}
.blue {
  background-color: #337ab7;
  color: #337ab7;
}
.light-blue {
  background-color: #5bc0de;
  color: #5bc0de;
}
.green {
  background-color: #5cb85c;
  color: #5cb85c;
}
.orange {
  background-color: #f0ad4e;
  color: #f0ad4e;
}
.white {
  background-color: #eeeeee;
  color: #eeeeee;
}
.black {
  background-color: #333333;
  color: #333333;
}
.purple {
  background-color: #b73390;
  color: #b73390;
}
body,
html {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url('../images/wood.jpg');
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
#board-container {
  float: left;
  left: 0;
}
.modal-header h4 {
  margin: 0;
}
.cleared {
  clear: both;
  float: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  #board-container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #board-container {
    width: 75%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #board-container {
    width: 77%;
  }
}
@media (min-width: 1200px) and (max-width: 1899px) {
  #board-container {
    width: 82%;
  }
}
@media (min-width: 1900px) {
  #board-container {
    width: 89%;
  }
}
chat {
  float: right;
  position: relative;
  width: 100%;
  height: 100%;
}
chat .message-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 170px;
  bottom: 0px;
}
chat .message-container .message-scroll-container {
  overflow-y: scroll;
  height: 100%;
  bottom: 0px;
}
chat .message-container .message-scroll-container .message {
  overflow-wrap: break-word;
}
chat .message-container .message-scroll-container .message i.fa-smile-o {
  color: green;
}
chat .message-container .message-scroll-container .message i.fa-frown-o {
  color: blue;
}
chat .message-container .message-scroll-container .message i.fa-meh-o {
  color: gray;
}
chat .message-container .message-scroll-container .message i.fa-heart {
  color: red;
}
chat .message-container .message-scroll-container .message i.fa-thumbs-up {
  color: blue;
}
chat .message-container .message-scroll-container .message i.fa-thumbs-down {
  color: red;
}
chat .message-container .message-scroll-container .message i.fa-star {
  color: #ffcc00;
}
chat .message-container .message-scroll-container .message i.fa-circle {
  font-size: .8em;
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 4px;
  background: none;
}
chat .input-container {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
chat .input-container #chat-input {
  resize: none;
  margin-bottom: 5px;
}
#sidebar-container {
  position: absolute;
  background: white;
  height: 100%;
  right: 0;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#sidebar-container .divider hr {
  margin-top: 0px;
}
@media (max-width: 767px) {
  #sidebar-container {
    width: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar-container {
    width: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar-container {
    width: 23%;
  }
}
@media (min-width: 1200px) and (max-width: 1899px) {
  #sidebar-container {
    width: 18%;
  }
}
@media (min-width: 1900px) {
  #sidebar-container {
    width: 11%;
  }
}
playerinfo .player-info-container {
  padding: 5px;
}
playerinfo .player-info-container .player-name-input-container {
  position: absolute;
  width: 100%;
  float: left;
  padding-right: 50px;
}
playerinfo .player-info-container .player-color-button {
  float: right;
}
.color-picker-popover-container {
  width: 148px;
  text-align: center;
}
.color-square-button {
  width: 34px;
  padding: 4px;
  margin-bottom: 4px;
}
.color-square-button .color-square {
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 100%;
}
.color-square-button .color-square i {
  color: white;
  margin-top: 5px;
}
toolbar .toolbar-button {
  width: 54px;
  height: 54px;
  margin-bottom: 5px;
}
toolbar .toolbar-button i.fa {
  font-size: 2em;
  color: #777;
}
toolbar .toolbar-button:hover i {
  color: black;
}
toolbar .toolbar-button:hover i.fa-plus {
  color: #5cb85c;
}
toolbar .toolbar-button:hover i.fa-info-circle {
  color: #337ab7;
}
#toolbar-container {
  position: absolute;
  height: 100%;
  width: 64px;
  padding: 5px;
}
@media (max-width: 767px) {
  #toolbar-container {
    right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #toolbar-container {
    right: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #toolbar-container {
    right: 23%;
  }
}
@media (min-width: 1200px) and (max-width: 1899px) {
  #toolbar-container {
    right: 18%;
  }
}
@media (min-width: 1900px) {
  #toolbar-container {
    right: 11%;
  }
}
info-modal .indented {
  margin-left: 15px;
  margin-top: 5px;
  color: gray;
}
add-cards-modal .card-container .suit-container {
  text-align: center;
}
add-cards-modal .card-container .suit-container .card {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: all 250ms ease-out;
}
add-cards-modal .card-container .suit-container .card .image-container {
  width: 100px;
  position: relative;
}
add-cards-modal .card-container .suit-container .card .image-container img {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
add-cards-modal .card-container .suit-container .card .image-container .card-selected-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #333;
  border-radius: 6px;
  visibility: hidden;
}
add-cards-modal .card-container .suit-container .card .image-container .card-selected-overlay .card-count {
  margin-top: 28px;
  font-size: 4em;
  color: white;
}
add-cards-modal .card-container .suit-container .card .image-container .card-selected-overlay.visible {
  visibility: visible;
}
add-cards-modal .card-container .suit-container .card:active {
  transform: scale(0.93, 0.93);
  transition: none;
}
#board-container {
  position: relative;
  height: 100%;
  cursor: default;
}
