body, html {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

body {
	background-image: url('../images/wood.jpg');
}

#board-container {
	float: left;
	width: 80%;
}

chat {
	float: right;
	position: relative;
	width: 20%;
	background: white;
	height: 100%;
}

chat .message-container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 170px;
	bottom: 0px;
}

chat .message-container .message-scroll-container {
	overflow-y: scroll;
	height: 100%;
	bottom: 0px;
}

chat .message-container .message-scroll-container .message {
	overflow-wrap: break-word;
}

chat .message-container .message-scroll-container .message i.fa-smile-o {
	color: green;
}

chat .message-container .message-scroll-container .message i.fa-frown-o {
	color: blue;
}

chat .message-container .message-scroll-container .message i.fa-meh-o {
	color: gray;
}

chat .message-container .message-scroll-container .message i.fa-heart {
	color: red;
}

chat .message-container .message-scroll-container .message i.fa-thumbs-up {
	color: blue;
}

chat .message-container .message-scroll-container .message i.fa-thumbs-down {
	color: red;
}

chat .message-container .message-scroll-container .message i.fa-star {
	color: #ffcc00;
}

chat .input-container {
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

chat .input-container #chat-input {
	resize: none;
	margin-bottom: 5px;
}